body {
    background-color: #242433;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.99);
    border-radius: 5px;
    padding: 30px;
    position: relative;
}
.container img {
    position: absolute;
    top: auto;
    right: auto;
    width: 100px;
    height: 57px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.table {
    margin-bottom: 0;
}

.table th {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.alert {
    margin-top: 1.5rem;
}
